<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Insert title here</title>
<link href="/public/css/main.css" rel="stylesheet">
<link href="/public/css/base.css" rel="stylesheet">
<link href="/public/css/gioithieu.css" rel="stylesheet">
<link href = "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<link href="/public/css/fonts/fontawesome-free-6.1.1-web/css/all.min.css" rel="stylesheet">
 <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
 
</head>	
{{> Header}}
		<div class="container">
			<div class="grid">
				<div>
					<div class="">
						<div class="row">
							<nav class="collapse navbar-collapse bs-navbar-collapse"
								role="navigation">
								<ul class='main-nav nav navbar-nav menu'>
									<li class="menu level0"><a class=''
										href='/cakeshop'>Trang
												chủ</a></li>
									<li class="menu level0"><a class=''
										href='/cakeshop/product'>Sản
												phẩm</a></li>
									<li >
										<span class="menu_level1">Giới Thiệu</span></li>
									<li class="menu level0"><a class='' href='/cakeshop/contact'>Liên
												hệ</a></li>
								</ul>
								<hr>
							</nav>
						</div>
					</div>
				</div>
				<div>
				<p><b  class="back_trangchu"><a href='/cakeshop/introduce'><span>Trang chủ</span></a> >> Giới thiệu</b></p>
				</div>
				<div class="gioi_thieu">
				<h1>
					Về chúng tôi
				</h1>
				<p class="doan_gt">
					GOODCAKE là cửa hàng điện tử kinh doanh bánh lâu năm, được buôn bán chất lượng tại <a href='/cakeshop'>GOODCAKE</a> để mang đến cho những vị khách hàng yêu thương cảm thấy thoải mái và hài lòng nhất với những hương vị ngon nhất.
					Tiết kiệm thời gian, da dạng lựa chọn, giá thành bình dân, chất lượng, an toàn
					; GOODCAKE luôn luôn nỗ lực cải thiện chất lượng dịch vụ nhằm tạo trải nghiệm tốt nhất cho quý khách hàng, với cam kết cung cấp đúng bánh, đúng yêu cầu và đúng chất lượng trong thời gian sớm nhất.
				</p>
				
				</div>
				</div>
				</div>
{{> Footer}}
</body>
</html>