<body>
	<div class="app">
		<header class="header">
			<div class="grid">
				<nav class="header__navbar">
					<ul class="header__navbar-list">
						<li class="header__navbar-item header__navbar-item--text"><i
							class="fa-solid fa-phone"></i> Hostline: 0353739060</li>
					</ul>

					<ul class="header__navbar-list">
						<li class="header__navbar-item"><a href="/cakeshop/cart"
							class="header__navbar-item-link"> <i
								class="fa-solid fa-cart-plus"></i> Giỏ hàng
						</a></li>
						<li id="login" class="header__navbar-item"><a href="/login"
							class="header__navbar-item-link header__navbar-item-link--bold">
								<i class="fa-solid fa-arrow-right-to-bracket"></i> Đăng nhập
						</a></li>
						<li id="regis" class="header__navbar-item"><a href="/login/register"
							class="header__navbar-item-link header__navbar-item-link--bold">
								<i class="fa-brands fa-creative-commons-share"></i> Đăng ký
						</a></li>
						<li id="infname" class="header__navbar-item"><a id="linkname" class="linkten" href="/login/getinfor">Hello: {{name}} </a>
						</a></li>
						<li id="logout" class="header__navbar-item"><a href="/login/logout"
							class="header__navbar-item-link header__navbar-item-link--bold">
								<i class="fa-solid fa-arrow-right-from-bracket"></i> LogOut
						</a></li>

					</ul>
				</nav>

			</div>
		</header>
		<div>
			<div class="headerbelow">
				<div class="grid">
					<div class="headerbelow__list">
						<div class="headerbelow__list-brand">
							<ul class="headerbelow__navbar-list">
								<li class="headerbelow__navbar-brand"><i
									class="headerbelow__navbar--icon fa-solid fa-utensils"></i>
									GOODCAKE</li>
								<li class="headerbelow__navbar-slogan">Ngọt ngào đưa đến hạnh phúc</li>
							</ul>
						</div>
						<div class="headerbelow__navbar-search-list">
						<form action ="/cakeshop/product/search">
							<div class="headerbelow__navbar-search">
								<input type="text" id="search" name="search" class="headerbelow__navbar-input"
									placeholder="Tìm kiếm...">
							</div>
							<div class="headerbelow__navbar-search-btn-block">
								<button class="headerbelow__navbar-search-btn">
									<i
										class="headerbelow__navbar-search-btn-icon fa-solid fa-magnifying-glass-dollar"></i>
								</button>
								
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		